/*|| TYPOGRAPHY */

@font-face {
	font-family: 'PP Neue Montreal';
	src: url('Assets/PP Neue Montreal/PPNeueMontreal-Regular.woff2') format('truetype');
	font-weight: 200, 300, 400, 450, 550, 800;
}

/* PARKING LOT FOR FONT NAMES */
/*
    font-family: 'Cabin Sketch', cursive;
    font-family: 'Comic Neue', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Henny Penny', cursive;
    font-family: 'Inspiration', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Macondo', cursive;
    font-family: 'Poor Story', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Seaweed Script', cursive;
    font-family: 'Special Elite', cursive;
    font-family: 'Unica One', cursive;
    font-family: 'Warnes', cursive;
*/

/*|| VARIABLES */ 

/* FOR MOBILE */

:root{
    --body-copy:12px;
    --page-spacing:24px;

    --main-heading: 10vw;
    --main-heading-line-height: calc(var(--main-heading));
    --sub-heading: calc(var(--body-copy)*1.5);

    --background-color: black;
    --arrow-width: 6vw;

    /* SWITCH */
    --reference: calc(var(--main-heading)*0.75);
    --toggle-width: calc(var( --reference)*2.55);
    --toggle-height: calc(var(--reference)*1);

    --toggle-border-radius: calc(var(--reference)*0.5);

    --toggle-switch: calc(var(--reference)*0.80);
    --toggle-transformx: calc(var(--toggle-width) - var(--reference));
    --toggle-padding: calc(var(--reference)*0.10);
}

/* || DESKTOP */

@media (min-width:768px) {
    :root {
        --body-copy:16px;
        --page-spacing:48px;

        --main-heading: 9.1vw;
        --sub-heading: calc(var(--body-copy)*2);
        
        --background-color: #383838;
        --article-width: 70vw
    }
}

/* || PARTS OF THE WEBSITE */

body {
    background-color: var(--background-color);
    color:white;
    font-family: 'PP Neue Montreal';
    font-size: var(--body-copy);
}

body > * {
    padding:var(--page-spacing)
}

/* || ARROW (STICKY) */
.sticky {
    position: sticky;
    top: 5vw;
    float: right;
    font-size: 5vw;
  
} 


a:hover{ 
    color:rgba(255, 255, 255, 0.626)
}


/* || TEXT STYLES*/

H1{
    font-weight: 400;
    font-size: var(--main-heading);
    margin: 0;
    line-height: var(--main-heading-line-height);
}

H2{
    font-size: var(--sub-heading);
    text-transform: uppercase;
    font-weight: 200;
    margin: 0;
}

p {
    max-width: var(--article-width);
}

/* LINK STYLE */

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: white;
    text-decoration: none !important;
}

/* || ASSETS */

.line{
    border-top: 1px solid;
}

/* || TOGGLE SWITCH CODE */

/* The whole switch */
.switch {
    position: relative;
    display: inline-block;
    width: var(--toggle-width);   /* <-- */
    height: var(--toggle-height); /* <-- */
}
 
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 100;
    height: 100;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    border-radius: var(--toggle-border-radius); /* <-- */

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    outline: 1px solid;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    border-radius: 50%;

    height: var(--toggle-switch);  /* <-- */
    width: var(--toggle-switch);   /* <-- */

    left: var(--toggle-padding);    /* <-- */
    bottom: var(--toggle-padding);  /* <-- */

    background-color: white;
    transition: .4s;
}

input:checked + .slider:before {
    transform: translateX(var(--toggle-transformx));   /* <-- */
}
#secondary_content {
    display: none;
  }

/* FLEXBOX */

main{
    display: inline-flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom:3vh;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    }

section.wrap {
        display: inline-flex;
        }
    
.auto{
    flex: auto;
    }

.bubble{
    display: inline-block;
    outline: 1px solid;
    height: var(--toggle-height); 
    border-radius: var(--toggle-border-radius);
}

/* || FOOTER */
.footer {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: #000;
    color: white;
  }
  
  .footer-text {
    flex: 90%;
  }
  
  .footer-icons {
    display: inline-flex;
    font-size: 30px;
    justify-content: start;
  }
  .icon-globe{
    padding-right: 30px;
  }
  .icon-instagram{
    padding-right: 30px;
  }
  
  /* Responsive layout for Mobile - makes a one column-layout instead of two-column layout */
  @media (max-width: 500px) {
    .footer {
      flex-direction: column;
    }
  }